.customer-form-container {
    background-color: #525AA0;
    padding: 20px;
    width: 300px;
    transform: skew(-20deg);
    margin: 20px;
    position: center;
  }
  
  .customer-text {

        color: #fff;
        max-width: 646px;
        margin: 0 auto;
        font: 600 54px/64px Switzer, -apple-system, Roboto, Helvetica,
          sans-serif;
    
  }
  
  .form-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-radius: px;
    cursor: pointer;
  }
  
  .contact-form {
    margin-top: 20px;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .contact-form textarea {
    height: 100px;
  }
  
  .contact-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #525AA0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .input-field {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    background-color: #525AA0; /* Background color */
    color: white; /* Text color */
    border: none;
    outline: none;
}

.input-field::placeholder {
  color: white; /* Placeholder text color */
}
.form-btn img{
border-radius: 40px;
}


.submit-btn img{
  border-radius: 30px;
}