.start-your-journey {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.hero-section {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 938px;
  padding-bottom: 80px;
  font-size: 54px;
  color: #202229;
  font-weight: 700;
  text-align: center;
  line-height: 119%;
}

.hero-image {
  aspect-ratio: 0.68;
  width: 466px;
  align-self: end;
  max-width: 100%;
}

.hero-title {
  font-family: Switzer, sans-serif;
  z-index: 10;
  margin: -402px 0 413px;
}

.find-candidate-section {
  z-index: 10;
  display: flex;
  margin-top: -482px;
  width: 482px;
  max-width: 100%;
  flex-direction: column;
}

.find-candidate-title {
  display: flex;
  gap: 19px;
  font-size: 34px;
  color: #202229;
  font-weight: 600;
  line-height: 44px;
}

.find-candidate-icon {
  aspect-ratio: 0.61;
  width: 51px;
  fill: linear-gradient(
    180deg,
    #a387d1 6.63%,
    rgba(209, 196, 226, 0.46) 94.58%
  );
  stroke-width: 4.663px;
  stroke: #edefff;
  border: 5px solid #edefff;
}

.find-candidate-text {
  font-family: Switzer, sans-serif;
  flex-grow: 1;
  margin: auto 0;
}

.find-candidate-description {
  display: flex;
  margin-top: 26px;
  padding-left: 75px;
  flex-direction: column;
  align-items: start;
}

.find-candidate-description-text {
  color: rgba(32, 34, 41, 0.8);
  font: 400 16px/24px Switzer, sans-serif;
}

.join-now-button {
  display: flex;
  margin-top: 26px;
  gap: 8px;
  font-size: 15px;
  color: #202229;
  font-weight: 500;
  line-height: 82%;
}

.join-now-icon {
  aspect-ratio: 1;
  width: 50px;
  fill: #202229;
}

.join-now-text {
  font-family: Switzer, sans-serif;
  margin: auto 0;
}

.evaluate-section {
  display: flex;
  margin-top: 148px;
  gap: 20px;
}

.evaluate-number {
  -webkit-text-stroke-width: 5.756302356719971;
  -webkit-text-stroke-color: #fff7e1;
  background: linear-gradient(
    180deg,
    rgba(255, 190, 46, 0.76) 33.21%,
    rgba(255, 190, 46, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 6px solid #fff7e1;
  font: 700 104px/132% Switzer, sans-serif;
}

.evaluate-title {
  color: #202229;
  flex-grow: 1;
  font: 600 34px/44px Switzer, sans-serif;
}

.evaluate-description {
  display: flex;
  margin-top: 33px;
  padding-left: 75px;
  flex-direction: column;
  align-items: start;
}

.evaluate-description-text {
  color: rgba(32, 34, 41, 0.8);
  font: 400 16px/24px Switzer, sans-serif;
}

.browse-more-button {
  display: flex;
  margin-top: 30px;
  gap: 8px;
  font-size: 15px;
  color: #202229;
  font-weight: 500;
  line-height: 82%;
}

.browse-more-icon {
  aspect-ratio: 1;
  width: 50px;
  fill: #202229;
}

.browse-more-text {
  font-family: Switzer, sans-serif;
  margin: auto 0;
}

.start-building-header {
  align-self: start;
  display: flex;
  margin-top: 145px;
  gap: 20px;
  justify-content: space-between;
}

.start-building-number {
  -webkit-text-stroke-width: 5.756302356719971;
  -webkit-text-stroke-color: #f3f3f3;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.78) 33.21%,
    rgba(0, 0, 0, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 6px solid #f3f3f3;
  font: 700 104px/132% Switzer, sans-serif;
}

.start-building-title {
  color: #202229;
  font: 600 34px/44px Switzer, sans-serif;
}

.start-building-description {
  display: flex;
  margin-top: 30px;
  padding-left: 75px;
  flex-direction: column;
  align-items: start;
}

.start-building-description-text {
  color: rgba(32, 34, 41, 0.8);
  font: 400 16px/24px Switzer, sans-serif;
}
